.scroll-container {
        width: max-content;
        white-space: nowrap;
        overflow: hidden;
        animation: scroll 20s linear infinite;
        animation-delay: -10s;
    }

    .scroll-item {
        display: inline-block;
        padding: 0 10px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    body{
        overflow-x: hidden;
        margin: 0px !important;
        background-color: #F0EBE3;
    }
  .div {
    background-color: #f0ebe3;
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 25px;

    padding-right: 20px;
    padding-left: 20px;
    gap: 550px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 2.93;
    object-fit: cover;
    object-position: center;
    width: 176px;
  }
  .div-3 {
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--Main-Orange, #f15a39);
    background-color: #f0ece3;
    display: flex;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    flex-direction: column;
    width: 725px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    align-self: stretch;
    display: flex;
    margin-left: 11px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      flex-wrap: wrap;
    }
  }
  .div-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    width: 487px;
    max-width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-6 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
  .div-7 {
    border-radius: 4px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 4px;
    height: 4px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-8 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.95px;
    text-transform: uppercase;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-8 {
      text-wrap: initial;
    }
  }
  .div-9 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.95px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .div-10 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.95px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .div-11 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.95px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .div-12 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.95px;
    text-transform: uppercase;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-12 {
      text-wrap: initial;
    }
  }
  .div-13 {
    padding-left: 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-left: 1px solid var(--Main-Orange, #f15a39);
    display: flex;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    gap: 6px;
  }
  .img-2 {
    aspect-ratio: 0.67;
    object-fit: cover;
    object-position: center;
    width: 18px;
  }
  .div-14 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-14 {
      text-wrap: initial;
    }
  }
  .div-15 {
    align-self: center;
    width: 100%;
    max-width: 1700px;
    padding-right: 20px;
    padding-left: 20px;
    flex-grow: 0;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      margin-top: 200px;
    }
  }
  .div-16 {
    justify-content: center;
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 200px;
    font-weight: 700;
    margin-top: 100px;
    line-height: 200px;
    text-transform: uppercase;
    align-self: stretch;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-right: 10px;
      font-size: 40px;
    }
  }
  .div-17 {
    align-self: stretch;
    margin-top: 63px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .div-18 {
    align-items: center;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-18 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-19 {
    justify-content: center;
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 200px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 777px;
  }
  @media (max-width: 991px) {
    .div-19 {
      max-width: 100%;
      margin-top: 21px;
      font-size: 40px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-20 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 0px;
    margin-bottom: 50px;
    margin-left: 50px;

  }
  @media (max-width: 991px) {
    .div-20 {
      margin-top: 29px;
    }
  }
  .img-3 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 133px;
  }
  .img-4 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 134px;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-21 {
    border: 1px solid var(--Main-Orange, #f15a39);
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-top: 3px;
    padding-right: 1px;
    padding-bottom: 3px;
    padding-left: 1px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      margin-top: 29px;
    }
  }
  .div-22 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-22 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-23 {
    display: flex;
    margin-top: -2px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-23 {
      margin-top: 1px;
    }
  }
  .img-5 {
    aspect-ratio: 2.89;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-right: 1px solid
      rgba(241.00000083446503, 90.00000223517418, 57.00000040233135, 1);
    border-bottom: 1px solid
      rgba(241.00000083446503, 90.00000223517418, 57.00000040233135, 1);
    align-self: stretch;
  }
  .div-24 {
    justify-content: center;
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 18px;
    margin-left: -13px;
    width: 204px;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 63%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-25 {
    display: flex;
    margin-top: -2px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-top: 1px;
    }
  }
  .div-26 {
    border-bottom: 1px solid var(--Main-Orange, #f15a39);
    align-self: end;
    display: flex;
    width: 394px;
    max-width: 100%;
    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 16px;
    padding-left: 18px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .div-27 {
    justify-content: center;
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 274px;
    flex-grow: 1;
    flex-basis: auto;
  }
  .img-6 {
    aspect-ratio: 1.04;
    object-fit: cover;
    object-position: center;
    width: 58px;
  }
  .img-7 {
    aspect-ratio: 1.04;
    object-fit: cover;
    object-position: center;
    width: 58px;
    align-self: end;
    margin-right: 11px;
  }
  @media (max-width: 991px) {
    .img-7 {
      margin-right: 10px;
    }
  }
  .div-28 {
    align-self: stretch;
    display: flex;
    margin-top: 170px;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      margin-top: 200px;
    }
  }
  .div-29 {
    align-items: flex-start;
    border-top: 1px solid #484036;
    border-bottom: 1px solid #484036;
    align-self: stretch;
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
    }
  }
  .div-30 {
    align-self: stretch;
    display: flex;
    margin-top: -2px;
    margin-bottom: 1px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 14px;
  }
  @media (max-width: 991px) {
    .div-30 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-31 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-32 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-33 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-34 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-35 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-36 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-37 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-38 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-39 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-40 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-41 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-42 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-43 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-44 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-45 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-46 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-47 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-48 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-49 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-50 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    width: 147px;
  }
  .div-51 {
    border-radius: 2px;
    background-color: var(--Main-Orange, #f15a39);
    align-self: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 2px;
    height: 2px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-52 {
    color: var(--Main-Orange, #f15a39);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-52 {
      text-wrap: initial;
    }
  }
  .div-53 {
    align-self: stretch;
    width: 100%;

  }
  @media (max-width: 991px) {
    .div-53 {
      max-width: 100%;
    }
  }
  .div-54 {
    display: flex;
  }
  @media (max-width: 991px) {
    .div-54 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-55 {
    padding-right: 20px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #271e28;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-55 {
      max-width: 100%;
    }
  }
  .div-56 {
    align-self: start;
    width: 838px;
    max-width: 100%;
  }
  .div-57 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-57 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .img-8 {
    aspect-ratio: 0.93;
    object-fit: cover;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-8 {
      max-width: 100%;
      margin-top: 29px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-58 {
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-58 {
      margin-top: 200px;
    }
  }
  .div-59 {
    color: #feabd1;
    text-align: center;
    font-family: Nexa Bold, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    align-self: stretch;
  }
  @media (max-width: 991px) {
    .div-59 {
      font-size: 40px;
    }
  }
  .div-60 {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #fce8ff;
    align-self: center;
    display: flex;
    margin-top: 27px;
    width: 145px;
    max-width: 100%;
    flex-grow: 1;
    padding-top: 19px;
    padding-right: 20px;
    padding-bottom: 19px;
    padding-left: 20px;
    flex-direction: column;
  }
  .div-61 {
    justify-content: center;
    color: #fce8ff;
    text-align: center;
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: -2px;
    margin-bottom: 1px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-61 {
      text-wrap: initial;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-62 {
    justify-content: center;
    align-items: flex-start;
    background-color: #f15b39;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-right: 20px;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-62 {
      max-width: 100%;
    }
  }
  .div-63 {
    align-self: start;
    width: 860px;
    max-width: 100%;
  }
  .div-64 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-64 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .img-9 {
    aspect-ratio: 0.77;
    object-fit: cover;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-9 {
      max-width: 100%;
      margin-top: 50px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-65 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-65 {
      margin-top: 50px;
    }
  }
  .div-66 {
    color: #ffebeb;
    text-align: center;
    font-family: Nexa Bold, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    align-self: stretch;
  }
  @media (max-width: 991px) {
    .div-66 {
      font-size: 40px;
    }
  }
  .div-67 {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #fffefd;
    align-self: center;
    display: flex;
    margin-top: 27px;
    width: 145px;
    max-width: 100%;
    flex-grow: 1;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    flex-direction: column;
  }
  .div-68 {
    justify-content: center;
    right: -0.2px;
    bottom: -2px;
    color: #fffefd;
    text-align: center;
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 1px;
    margin-bottom: -1px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-68 {
      text-wrap: initial;
    }
  }
  .div-69 {
    align-self: center;
    display: flex;
    margin-top: 132px;
    width: 100%;
    max-width: 1300px;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-69 {
      max-width: 100%;
    }
  }
  .div-70 {
    justify-content: center;
    color: #443c32;
    text-align: center;
    font-family: Nexa Bold, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-left: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-70 {
      max-width: 100%;
      font-size: 40px;
      text-wrap: initial;
    }
  }
  .div-71 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 90px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
    }
  }
  .img-10 {
    aspect-ratio: 1.14;
    object-fit: cover;
    object-position: center;
    width: 100%;
    align-self: center;
  }
  @media (max-width: 991px) {
    .img-10 {
      max-width: 100%;
    }
  }
  .div-72 {
    justify-content: center;
    right: -56.95px;
    bottom: -1px;
    color: #443c32;
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #443c32;
    margin-top: 66px;
    width: 127px;
    max-width: 100%;
    flex-grow: 1;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
  }
  @media (max-width: 991px) {
    .div-72 {
      padding-left: 10px;
    }
  }
  .div-73 {
    align-self: stretch;
    display: flex;
    margin-top: 131px;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
    }
  }
  .div-74 {
    justify-content: flex-end;
    align-items: center;
    background-color: #212a17;
    align-self: stretch;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
    }
  }
  .div-75 {
    color: #eb5a2e;
    font-family: Nexa Bold, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 97px;
    align-self: center;
    margin-top: 50px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
      font-size: 40px;
      text-wrap: initial;
    }
  }
  .div-76 {
    align-self: center;
    margin-top: 101px;
    margin-bottom: 115px;
    width: 1200px;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  .div-77 {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 991px) {
    .div-77 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-78 {
    align-items: flex-start;
    border: 1px solid #eb5a2e;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-78 {
      max-width: 100%;
      margin-top: 1px;
    }
  }
  .div-79 {
    align-self: center;
    display: flex;
    width: 402px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-80 {
    justify-content: space-between;
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 98px;
    max-width: 100%;
    gap: 5px;
  }
  .div-81 {
    color: #eb5a2e;
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .img-11 {
    aspect-ratio: 1.59;
    object-fit: cover;
    object-position: center;
    width: 27px;
  }
  .div-82 {
    justify-content: center;
    color: #eb5a2e;
    font-family: Nexa Light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    align-self: start;
    margin-top: 290px;
  }
  @media (max-width: 991px) {
    .div-82 {
      margin-top: 200px;
    }
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 32%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-83 {
    align-items: flex-start;
    border: 1px solid #eb5a2e;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      margin-top: 1px;
    }
  }
  .div-84 {
    align-self: center;
    display: flex;
    width: 420px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-85 {
    justify-content: space-between;
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 112px;
    max-width: 100%;
    gap: 9px;
  }
  .div-86 {
    color: #eb5a2e;
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .img-12 {
    aspect-ratio: 1.59;
    object-fit: cover;
    object-position: center;
    width: 27px;
  }
  .div-87 {
    justify-content: center;
    color: #eb5a2e;
    font-family: Nexa Light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    align-self: start;
    margin-top: 282px;
  }
  @media (max-width: 991px) {
    .div-87 {
      margin-top: 200px;
    }
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-14 {
      width: 100%;
    }
  }
  .div-88 {
    align-items: flex-start;
    border: 1px solid #eb5a2e;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 36px;
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-88 {
      max-width: 100%;
      margin-top: 1px;
    }
  }
  .div-89 {
    align-self: center;
    display: flex;
    width: 493px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-90 {
    justify-content: space-between;
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 117px;
    max-width: 100%;
    gap: 8px;
  }
  .div-91 {
    color: #eb5a2e;
    font-family: Nexa Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .img-13 {
    aspect-ratio: 1.59;
    object-fit: cover;
    object-position: center;
    width: 27px;
  }
  .div-92 {
    justify-content: flex-end;
    color: #eb5a2e;
    font-family: Nexa Light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    align-self: start;
    margin-top: 263px;
  }
  @media (max-width: 991px) {
    .div-92 {
      max-width: 100%;
      margin-top: 200px;
    }
  }
  .div-93 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 48px;
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-93 {
      max-width: 100%;
    }
  }
  .div-94 {
    align-self: center;
    display: flex;
    margin-top: -2px;
    margin-left: -11px;
    margin-bottom: 2px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 250px;
  }
  @media (max-width: 991px) {
    .div-94 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .div-95 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .img-14 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 29px;
    align-self: center;
  }
  .div-96 {
    color: #443c32;
    text-align: center;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    margin-top: 5px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-96 {
      text-wrap: initial;
    }
  }
  .div-97 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .img-15 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 29px;
    align-self: center;
  }
  .div-98 {
    color: #443c32;
    text-align: center;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    margin-top: 5px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-98 {
      text-wrap: initial;
    }
  }
  .div-99 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .img-16 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 29px;
    align-self: center;
  }
  .div-100 {
    color: #443c32;
    text-align: center;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    margin-top: 5px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-100 {
      text-wrap: initial;
    }
  }
  .div-101 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .img-17 {
    aspect-ratio: 0.94;
    object-fit: cover;
    object-position: center;
    width: 29px;
    align-self: center;
  }
  .div-102 {
    color: #443c32;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: stretch;
    margin-top: 5px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-102 {
      text-wrap: initial;
    }
  }
  .div-103 {
    align-items: flex-start;
    background-color: #f0ebe3;
    align-self: stretch;
    display: flex;
    margin-top: 39px;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-103 {
      max-width: 100%;
    }
  }
  .div-104 {
    align-items: flex-start;
    border-top: 2px solid #2d2a27;
    border-bottom: 2px solid #2d2a27;
    align-self: stretch;
    display: flex;
    width: 100%;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-left: 20px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-104 {
      max-width: 100%;
    }
  }
  .div-105 {
    align-self: center;
    margin-top: 1px;
    margin-left: -414px;
    margin-bottom: -1px;
    width: 100%;
    max-width: 1071px;
  }
  @media (max-width: 991px) {
    .div-105 {
      max-width: 100%;
    }
  }
  .div-106 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-106 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-107 {
    align-items: flex-start;
    border-right: 1px solid #2d2a27;
    display: flex;
    flex-grow: 1;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 40px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-107 {
      margin-top: 30px;
    }
  }
  .img-18 {
    aspect-ratio: 2.92;
    object-fit: cover;
    object-position: center;
    width: 152px;
    align-self: start;
  }
  .div-108 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    align-self: start;
    margin-top: 8px;
    margin-bottom: 36px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-108 {
      text-wrap: initial;
    }
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-109 {
    align-items: flex-start;
    border-right: 1px solid #2d2a27;
    display: flex;
    padding-top: 31px;
    padding-right: 20px;
    padding-bottom: 40px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-109 {
      max-width: 100%;
      margin-top: 30px;
    }
  }
  .div-110 {
    justify-content: center;
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-bottom: 18px;
    width: 78px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-111 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-111 {
      text-wrap: initial;
    }
  }
  .div-112 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 8px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-112 {
      text-wrap: initial;
    }
  }
  .div-113 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 7px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-113 {
      text-wrap: initial;
    }
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 18%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-17 {
      width: 100%;
    }
  }
  .div-114 {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-114 {
      margin-top: 50px;
    }
  }
  .div-115 {
    align-self: start;
    display: flex;
    width: 187px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .div-115 {
      justify-content: center;
    }
  }
  .div-116 {
    color: #2d2a27;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: start;
  }
  .div-117 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    text-transform: uppercase;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-118 {
    color: #2d2a27;
    font-family: Sora, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 6px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-118 {
      text-wrap: initial;
    }
  }
  .div-119 {
    color: #2d2a27;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 1px;
    text-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .div-119 {
      text-wrap: initial;
    }
  }
  .cart-container {
    position: relative;
}

.cart-dropdown {
    margin-top: 45px;
    display: none;
    position: absolute;
    top: 100%;
    right: -11px;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #f15a39;
    border-top: 0px;
    z-index: 1;
    font-family: Nexa Light, sans-serif;
}

.cart-dropdown li {
    list-style: none;
    margin: 5px 0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#view-cart-button{
    background: #f0ebe3;
    color: black;
    border: 1px solid #f15a39;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
        }