@font-face {
    font-family: "NexaLight";
    src: url(../fonts/nexa-light.otf);
}

@font-face {
    font-family: "NexaBold";
    src: url(../fonts/nexa-bold.otf);
}

form:not(.filter-container) {
    margin-right: 50px;
    width: 150px;
    height: 40px;
    display: flex;
}

.product-page {
    display: flex;
    align-items: normal;
}

.headings-filters {
    font-family: "NexaBold", sans-serif;
    font-size: 33px;
    color: #443C32;
    margin-top: 15px;
}

@media screen and (max-width: 1920px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: 975px;
        min-width: 975px;
    }
}

@media screen and (min-width: 1921px) {
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 975px;
    min-width: 975px;
}
}

.blur-overlay:hover {
    filter: blur(5px);
    transition: .2s ease-in;
    cursor: pointer;
}

.blur-overlay:hover~.button-overlay,
.button-overlay:hover {
    display: inline;
}

.button-overlay {
    display: none;
    position: absolute;
    top: 50%;
    width: calc(100% - 88px);
    text-align: center;
    pointer-events: none;
    padding: 1vh 1vh;
    border-radius: 25px;
    background-color: #F0ECE3;
    border: 1px solid black;
}

.product {
    border: 1px solid #443C32;
    width: fit-content;
    padding: 44px;
    max-height: 540px;
    position: relative;
}

.product img {
    width: 235px;

}

.product p:nth-child(2) {
    font-family: "NexaBold";
    font-size: larger;
}

.product p:nth-child(3) {
    font-family: "NexaLight";
}

* {
    margin: 0;
    padding: 0;
}

.filter-container {
    display: flex;
    flex-direction: column;

}

.filter-collumn {
    margin-left: 150px;
    margin-top: 80px;
}

.actie-img {
    margin-top: 50px;
    transform: scale(0.8);
}

.paging-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-bottom: 100px;

}

.filter-items {
    border: none;
    font-family: Nexa Light, sans-serif;
    background-color: #F0EBE3;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    color: #443C32;
    cursor: pointer;
    text-align: left;
}

body {
    background-color: #F0EBE3;
}

.page-button {
    width: 50px;
    height: 50px;
    background-color: #F0EBE3;
    margin-top: 40px;
    border: 1px solid #443C32;
}

.dot-container {
    display: inline;
}

.reset-filter-items {
    margin-top: 10px;
    padding: 1vh 3vh;
    border-radius: 25px;
    background-color: #F0ECE3;
    border: 1px solid black;
}

.reset-filter-items:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}