.temp-product{
    border: 1px solid orange;
    width: fit-content;
    padding: 24px;
}

.temp-product img{
    width: 200px;
}

.temp-product p:nth-child(2){
    font-family: "Nexa Bold";
    font-size: larger;
}

.temp-product p:nth-child(3){
    font-family: "Nexa Light";
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 750px;
    margin: 10px;
}
