.footer-section {
    align-items: flex-start;
    background-color: #f0ebe3;
    align-self: stretch;
    display: flex;
    margin-top: 39px;
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    }
    @media (max-width: 991px) {
    .footer-section {
    max-width: 100%;
    }
    }
    .footer-container {
    align-items: flex-start;
    border-top: 2px solid #2d2a27;
    border-bottom: 2px solid #2d2a27;
    align-self: stretch;
    display: flex;
    width: 100%;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-left: 20px;
    flex-direction: column;
    }
    @media (max-width: 991px) {
    .footer-container {
    max-width: 100%;
    }
    }
    .footer-inner {
    align-self: center;
    margin-top: 1px;
    margin-left: -414px;
    margin-bottom: -1px;
    width: 100%;
    max-width: 1071px;
    }
    @media (max-width: 991px) {
    .footer-inner {
    max-width: 100%;
    }
    }
    .footer-logo-container {
    gap: 20px;
    display: flex;
    }
    @media (max-width: 991px) {
    .footer-logo-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
    }
    .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
    margin-left: 0px;
    }
    @media (max-width: 991px) {
    .column-15 {
    width: 100%;
    }
    }
    .footer-logo-inner {
    align-items: flex-start;
    border-right: 1px solid #2d2a27;
    display: flex;
    flex-grow: 1;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    }
    @media (max-width: 991px) {
    .footer-logo-inner {
    margin-top: 30px;
    }
    }
    .footer-logo {
    aspect-ratio: 2.92;
    object-fit: cover;
    object-position: center;
    width: 152px;
    align-self: start;
    }
    .footer-slogan-text {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    align-self: start;
    margin-top: 8px;
    margin-bottom: 36px;
    text-wrap: nowrap;
    }
    @media (max-width: 991px) {
    .footer-slogan-text {
    text-wrap: initial;
    }
    }
    .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 20px;
    }
    @media (max-width: 991px) {
    .column-16 {
    width: 100%;
    }
    }
    .social-media-container {
    align-items: flex-start;
    border-right: 1px solid #2d2a27;
    display: flex;
    padding-top: 31px;
    padding-right: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    }
    @media (max-width: 991px) {
    .social-media-container {
    max-width: 100%;
    margin-top: 30px;
    }
    }
    .social-media-inner {
    justify-content: center;
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-bottom: 18px;
    width: 78px;
    max-width: 100%;
    flex-direction: column;
    }
    .social-media-item {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    text-wrap: nowrap;
    }
    @media (max-width: 991px) {
    .div-111 {
    text-wrap: initial;
    }
    }
    .div-112 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 8px;
    text-wrap: nowrap;
    }
    @media (max-width: 991px) {
    .div-112 {
    text-wrap: initial;
    }
    }
    .div-113 {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.71px;
    text-transform: uppercase;
    align-self: start;
    margin-top: 7px;
    text-wrap: nowrap;
    }
    @media (max-width: 991px) {
    .div-113 {
    text-wrap: initial;
    }
    }
    .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 18%;
    margin-left: 20px;
    }
    @media (max-width: 991px) {
    .column-17 {
    width: 100%;
    }
    }
    .copyright-container {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    }
    @media (max-width: 991px) {
    .copyright-container {
    margin-top: 50px;
    }
    }
    .copyright-inner {
    align-self: start;
    display: flex;
    width: 187px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    }
    @media (max-width: 991px) {
    .copyright-inner {
    justify-content: center;
    }
    }
    .copyright-light {
    color: #2d2a27;
    font-family: Nexa Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    align-self: start;
    }
    .copyright-bold {
    color: #2d2a27;
    font-family: Nexa Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    text-transform: uppercase;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    }
    .benefits-section {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        margin-top: 48px;
        padding-top: 2px;
        padding-right: 20px;
        padding-bottom: 2px;
        padding-left: 20px;
        flex-direction: column;
        }
        @media (max-width: 991px) {
        .benefits-section {
        max-width: 100%;
        }
        }
        .benefits-container {
        align-self: center;
        display: flex;
        margin-top: -2px;
        margin-left: -11px;
        margin-bottom: 2px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 250px;
        }
        @media (max-width: 991px) {
        .benefits-container{
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        }
        }
        .benefits-icon-container {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        }
        .benefits-icon {
        aspect-ratio: 0.94;
        object-fit: cover;
        object-position: center;
        width: 29px;
        align-self: center;
        }
        .benefits-text {
        color: #443c32;
        text-align: center;
        font-family: Nexa Light, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        align-self: stretch;
        margin-top: 5px;
        text-wrap: nowrap;
        }
        @media (max-width: 991px) {
        .benefits-text {
        text-wrap: initial;
        }
        }

