@font-face {
    font-family: "Nexa Light";
    src: url(../font/Nexa\ Light.otf);
}
@font-face {
    font-family: "Nexa Bold";
    src: url(../font/Nexa\ Bold.otf);
}
* {
    font-family: "Nexa Light", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F0ECE3;
}
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 12vh;
    gap: 3em;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.bijproducten img:nth-child(1) {
    border-bottom: none;
}
.bijproducten img {
    width: 15vh;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-right: none;
    background-color: #F0ECE3;
    z-index: 0;
    transition: all 0.2s;
}
.bijproducten img:hover{
    transform: scale(1.05);
    cursor: pointer;
    z-index: 1;
    border: 2px solid grey;
}
.container select {
    background-color: #F0ECE3;
}
.productenTotaal {
    display: flex;
}
.hoofdproduct {
    padding: 2em 8em;
}
.hoofdproduct img {
    width: 250px;
}
.hoofdproduct {

    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productdetail {
    align-self: self-start;
    display: flex;
    gap: 1em;
    flex-direction: column;

}
.productdetail__Btn {
    display: flex;
    flex-direction: column;
}
.productdetail h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Nexa Bold", sans-serif;
    margin: 0;
    line-height: 0.8;
    font-size: 3rem;

}
.reviews {
    display: flex;
    align-items: center;
}
.reviews p {
    margin-left: 1vh;
}
.productdetail p {
    max-width: 500px;
}
.btn {
    width: 150px;
    height: 40px;
}
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 1em;

}
.nav a {
    text-decoration: none;
    color: black;
}
.nav li:not(:last-child)::after {
    content: '/';
    margin-left: 1vh;
}
.counter {
    display: flex;
    flex-direction: row;

}
.getal {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.counter button {
    width: 2.6em;
    height: 2.6em;
    border: 1px solid #ccc;
    background-color: #F0ECE3;
    transition: all 0.2s;
}
.counter button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.counterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    gap: 2vh;
}
.cartBtn {
    padding: 1vh 3vh;
    border-radius: 25px;
    background-color: #F0ECE3;
    border: 1px solid black;
}
.cartBtn:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto
}
.dispriction {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.dispriction__Btn {
    padding: 0.8em 3.4em;
    background-color: inherit;
    border: 1px solid grey;
    margin-left: -1px;
    margin-bottom: -1px;
}
.dispriction__Btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.dispriction__Btn.active {
    background-color: black;
    color: white;
}
.dispriction__Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 2em;
}
.dispriction__Content span {
    width: 600px;
}
.dispriction__Content h2{
    font-family: "Nexa Bold", sans-serif;
    font-size: 1em;
}
.dispriction nav{
    display: flex;
}
.relatedproducts h2{
    font-family: "Nexa Bold", sans-serif;
}
.sokcontainer__img{
    height: 30vh;
}
.relatedproducts{
   margin-bottom: 10em;
}
.productwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.sokcontainer{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid grey;
    flex-direction: column;
    position: relative;
    margin-left: -1px;
    background-color: #F0ECE3;
    z-index: 0;
    transition: all 0.2s;
}
.sokcontainer:hover{
    transform: scale(1.05);
    cursor: pointer;
    z-index: 1;
}
.relatedproducts h2{
    margin-top: 3em;
    margin-bottom: 1em;
}
.sokcontainer__info{
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}
.sokcontainer span{
    font-size: 12px;
}
.sokcontainer p{
    font-family: "Nexa Bold", sans-serif;
}